.pay {
  background: #f7f8f8;
  padding: 40px 30px 30px 30px;
  &-table {
    margin-top: 25px;
    &__td {
      padding: 10px 25px 10px 0;
    }
    &__title {
      color: $grey;
    }
    &__info {
      color: $black;
    }
  }
  &-card {
    padding-top: 20px;
  }
}